#logo{
    height: 50px;
}

.navbar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);

}

.nav-tabs .nav-link {
    border: none; /* Remove default border */
  }
  .nav-link{
    color:white;
  }
